		<div class="testimonial lightblue">
			<blockquote>
			<a href="http://www.whathifi.com/blog/how-to-turn-tagging-and-artwork-anarchy-into-blissful-order">And how does it work? Exceptionally well [...] The upshot of all of which is that my music library is now definitely much better organised, and the number of random 'unfound' albums is hugely reduced.</a>
			</blockquote>
			<cite>
			Andrew Everard, What Hi-fi
			</cite>
		</div>	
		<div class="testimonial lightblue">
			<blockquote>
			<strong>I think it's amazing.</strong>  I'd spent ages making sure I had album art attached to all my files, but when I bought a Logitech Squeezebox 
			it didn't pick up any of the album art I'd painstakingly put together. bliss sorted that out, very easily, very cleverly and for a very 
			reasonable cost. One of my favourite pieces of software, it deserves to be much better known.
			</blockquote>
			<cite>
			Allister Young, Bristol, UK
			</cite>
		</div>
		<div class="testimonial lightblue">
			<blockquote>
			The world's best automated album art updater for music collections. Spectacular software that has saved me countless time
			</blockquote>
			<cite>
			<a href="https://twitter.com/john4sd/status/301173509395197952">John Chester</a>, UK
			</cite>
		</div>	
		
