<div class="blog-series-list">
<i><strong>How I Organize Music</strong></i> - MrSinatra
<ol>
<li>The record store</li>
<li>Ripping to file</li>
<li>Tag standards</li>
<li>Tag editing</li>
<li>How to use common tags</li>
<li>Controversy! AlbumArtist tags</li>
<li>Other tags</li>
<li>Final check and artwork</li>
</ol>
</div>
