<ul style="list-style-type:none">
<li><a href="http://{% include blog-url.html %}2014/07/02/3cs-consistency/">Consistency</a></li>
<li><a href="http://{% include blog-url.html %}2014/07/15/3cs-correctness/">Correctness</a></li>
<li><a href="http://{% include blog-url.html %}2014/07/29/3cs-completeness/">Completeness</a></li>
</ul>