<div id="cookie-opt-out">
	
	<div class="message">
		<p>
		blisshq.com uses cookies to identify which pages are being used for statistical analytics purposes. 
		None of this data identifies you individually. 
		<a href="javascript:void(0)" onclick="optOut()">To opt-out of these cookies please click this link.</a> 
		If you continue to use the site, we'll assume you're happy to accept the cookies.
		</p>
	</div>

	<div class="dismiss">
		<a href="javascript:void(0)" onclick="dismissOptOut()">Dismiss</a>
	</div>
	
</div>

<script type="text/javascript">
if(hasDismissedOptOut()) {
	document.getElementById("cookie-opt-out").style.display = "none";
}
</script>