		<div style="margin:0px;margin-top:20px;" class="downloadButton">
			<script type="text/javascript">
				function track() {
					var _gaq = _gaq || [];
					_gaq.push(['_setCustomVar',1,'downloaded-trial', 'yes', 1]);
					_gaq.push(['_trackPageview','/downloads/setup.exe-{{ site.bliss-version }}']);
				}
			</script>
			<a class="download-link" href="/download-thank-you-windows.html" onClick="track();">
				<span class="platform-description">
					<strong>Download</strong><br/>
					<em title="Windows 10, 8, 7, Vista et al... and the server platforms">Windows 10, 8, 7 etc</em>
				</span>
				<span class="platform-icon">
					<img alt="Download bliss for Windows" src="/images/48x48_Microsoft_windows.png"/>
				</span>
			</a>
		</div>