		<div style="margin:0px;margin-top:20px;" class="downloadButton">
			<script type="text/javascript">
				function track() {
					var _gaq = _gaq || [];
					_gaq.push(['_setCustomVar',1,'downloaded-trial', 'yes', 1]);
					_gaq.push(['_trackPageview','/downloads/bliss.dmg-{{ site.bliss-version }}']);
				}
			</script>
		<a class="download-link" href="/download-thank-you-mac.html" onClick="track();">
			<span class="platform-description">
				<strong>Download</strong><br/>
				<em title="Mac OS X Snow Leopard and later">Mac OS X</em>
			</span>
			<span class="platform-icon">
				<img alt="Download bliss for OS X" src="/images/48x48_mac.png"/>
			</span>
		</a>
		</div>