		<div style="margin:20px 0px;" class="downloadButton">
			<script type="text/javascript">
				function track() {
					var _gaq = _gaq || [];
					_gaq.push(['_setCustomVar',1,'downloaded-trial', 'yes', 1]);
					_gaq.push(['_trackPageview','/downloads/rpm/i386/bliss-{{ site.bliss-version }}-1.i386.rpm']);
				}
			</script>
			<a class="download-link" href="/download-thank-you-vortexbox.html" onClick="track();">
				<span class="platform-description">
					<strong>Download</strong><br/>
					<em title="VortexBox RPM for manual install">VortexBox RPM</em>
				</span>
				<span class="platform-icon">
					<img alt="Download bliss for VortexBox" src="/images/48x48_vortexbox.png"/>
				</span>
			</a>
		</div>