		<div style="margin:0px;margin-top:20px;" class="downloadButton">
			<script type="text/javascript">
				function track() {
					var _gaq = _gaq || [];
					_gaq.push(['_setCustomVar',1,'downloaded-trial', 'yes', 1]);
					_gaq.push(['_trackPageview','/downloads/bliss-install-readynas-{{ site.bliss-version }}.jar']);
				}
			</script>
			<a class="download-link" href="/downloads/bliss-install-{{ site.bliss-version }}.jar" onClick="track();">
				<span class="platform-description">
					<strong>Download</strong><br/>
					<em title="Netgear ReadyNAS">Netgear ReadyNAS</em>
				</span>
				<span class="platform-icon">
					<img alt="Download bliss for ReadyNAS" src="/images/48x48_tux.png"/>
				</span>
			</a>
		</div>