<div class="central_container">

	<div class="pitch">
		<div class="pitch-left-text">
			<h1>Album artwork downloaded, organized, automatically.</h1>
			<p>bliss is a simple and accurate <strong>album artwork finder</strong>. Discover art for rare recordings. Free your art to view anywhere.
			Update existing art with one click. <a href="rule-based-music-library-management.html">Configure once</a>, then enjoy.</p>
		<center>{% include os-specific-download-button.html %}</center>
		</div>
	</div>
</div>

<div id="reasons">
	<div class="reason lightblue float_left">
		<p class="reasonHeading">bliss is for those...</p>
		<ul style="padding-left:15px">
			<li>Who like their music <i>just so</i></li>
			<li>Who want their metadata <i>complete</i></li>
			<li>With <i>ginormous</i> collections</li>
			<li>With <a href="home-server-music-management.html">home servers or NASes</a></li>
		</ul>
	</div>

	<div class="reason lightblue float_left">
		<p class="reasonHeading">why use bliss?</p>
		<p>bliss runs non-stop in the background, so it watches for new music and then applies 
		your album artwork <a href="rule-based-music-library-management.html">rules</a>. You can install it on a 
		<a href="home-server-music-management.html">server</a> and watch it work via your browser. </p>
		<p style="font-style:italic;text-align:right;"><a href="use-bliss-with-other-tagger.html">read more...</a></p>
	</div>

	<div class="reason lightblue float_left">
		<p class="reasonHeading">latest news</p>
		<p>
		{% for post in site.posts limit:1 %}
		<a href="/{{ post.url }}">{{ post.title | truncatewords:10 }}</a><br/>
		{{ post.description | truncatewords:20 }}
		{% endfor %}
	</div>
</div>

<div class="container">
	<div style="border-top: 3px double #D8D8FF;margin-top:20px;">
	
		<blockquote class="large-landing-page-quote"><a target="_blank" href="http://forums.sonos.com/showpost.php?p=124825&postcount=15">"Set bliss going and a couple of hours later all my files were embedded with artwork and each album has a folder.xxx file with the artwork, amazing."</a>
		<br/><span style="font-size:18px;font-style:italic;letter-spacing:normal">— Andrew Powell, UK</span>
		</blockquote>
	</div>
	
	<div style="border-top: 3px double #D8D8FF;margin-top:20px;">
		<div> 
			<div class="landing-page-feature-full-width">
				<h2>Album artwork finder</h2>
				<img src="{% include image-server.html %}/images/landing-feature-cover-art.jpg" alt="Download album artwork automatically with bliss" width="202" height="116"/>
				<p>bliss is an album artwork finder that is simple, fast and accurate. bliss finds and installs album artwork automatically. 
				bliss is <i>fully</i> automated and can even add album artwork to your music in the background, as you add the music to your collection. 
				bliss uses both reputable and expansive sources for its album art.</p>
				<div style="clear:both">
				</div>
			</div>
			<div class="landing-page-feature-full-width">
				<h2>Music folder organizer</h2>
				<img src="{% include image-server.html %}/images/organise-music-files-landing-page/assess-file-structure.png" alt="Assess your current music file and folder structure" width="202" height="116"/>
				<p>Organize your music files and folders by specifying a file organisation pattern. bliss then synchronises your
				tags with your file names. Choose from different tags to include in the file organisation pattern, and how
				you want to treat whitespace. You can perform the changes automatically if you like, ideal for large collections.</p>
				<div style="clear:both">
				</div>
			</div>
			<div class="landing-page-feature-full-width">
				<h2>Control your genres</h2>
				<img src="{% include image-server.html %}/images/landing-feature-genre.jpg" alt="Filter genres into a defined subset" width="202" height="116"/>
				<p>Keep track of the genres in your music collection. Music genres are notorious for ballooning as you add more
				music from different sources. Some genres are general, like 'Classical', while some are specific, like 
				'Experimental Big Band'. bliss allows you to control which genres are allowed in your music collection.</p>
				<div style="clear:both">
				</div>
			</div>
			<div style="clear:both"></div>
		</div>
	</div>
	
	<div style="border-top: 3px double #D8D8FF;margin-top:20px;">
	
		<center>
		<h3 style="margin:25px 0px;line-height:1.1em;letter-spacing:-1px">bliss is software for people who <i>care</i> about their music collection</h3>
		</center>
		
		<div style="text-align:left">
			<div class="float_left rounded-small" style="height:10.5em;width:245px;margin-right:30px;padding:9px;background-color:#D8D8FF">
				<p><i><a style="color:inherit" href="http://www.facebook.com/permalink.php?story_fbid=10150203346972837&id=100002157225176">1400 discs ripped to FLAC just downloaded cover art of my choosing because of your handiwork. Simply outstanding, Dan.</a></i></p>
				<p>Cliff Hyslop, USA</p>
			</div>

			<div class="float_left rounded-small" style="height:10.5em;width:245px;margin-right:30px;padding:9px;background-color:#D8D8FF">
				<p><i>bliss sorted that [cover art] out, very easily, very cleverly and for a very reasonable cost. One of my favourite pieces of software.</i></p>
				<p>Allister Young, Bristol, UK</p>
			</div>

			<div class="float_left rounded-small" style="height:10.5em;width:245px;padding:9px;background-color:#D8D8FF">
				<p><i>I like the fact it's a one stop, automated solution that addressed the issues I had - that being getting artwork and sorting file/folder locations.</i></p>
				<p>Darren Williams, London</p>
			</div>
			<div style="clear:both"/>
		</div>
	</div>

	<div style="border-top: 3px double #D8D8FF;margin-top:20px;">
	
		<h2 style="margin:25px 0px;line-height:1.1em;letter-spacing:-1px">A simple, automatic tool to organise album artwork, fix music file paths and control genres</h2>
		
		<div style="text-align:left;width:500px;margin:auto">
		
			<p style="line-height:1.3em;font-size:20px">
			Album artwork (sometimes also called '<strong>cover art</strong>') really improves your digital music experience. It makes it 
			easier to navigate your music collection because it's easy to recognise
			albums. Plus album artwork can be a great talking point when you show your music collection off to your friends!
			</p>
			
			<p style="line-height:1.3em;font-size:20px">
			<strong>Is album artwork not displaying in your music collection?</strong> The first reason might be that artwork is missing from your music library.
			If art is missing, you <i>could</i> go and find
			the art yourself, then use a music tagger like MP3Tag to install it for you. But for 100s or 1000s of albums, that's a lot of work. bliss is
			an album artwork finder that finds art
			online automatically, using reputable databases to ensure high quality matches.
			</p>
			
			<p style="line-height:1.3em;font-size:20px">
			<strong>What if you know you have the art, but it just isn't displaying in your music player?</strong> There are a number of possible
			reasons. Different music players have different rules. Some require artwork to be <a href="http://{% include blog-url.html %}2010/07/26/embed-cover-art-in-bulk/">
			embedded within music files</a>. Others only allow album art which is of a <a href="http://{% include blog-url.html %}2010/07/05/change-the-size-of-your-album-art-with-bliss/">
			desired resolution</a> or <a href="http://{% include blog-url.html %}2011/03/19/sonos-album-art/">data size</a>.
			</p>

			<p style="line-height:1.3em;font-size:20px">
			By configuring your album artwork rule within bliss, you can state how large or small your art should be and make sure all of your existing
			art also complies!
			</p>

			<p style="line-height:1.3em;font-size:20px">
			Take a look at the <a href="http://www.blisshq.com/support/tutorials/first-steps/">quick start cover art tutorial</a>.
			</p>
			
			<p style="line-height:1.3em;font-size:20px">
			<strong>You can also manually change artwork</strong>, either from a list of suggestions bliss finds automatically, or by uploading your own art or providing a URL. 
			</p>
			
			<p style="line-height:1.3em;font-size:20px">
			When music is added or updated, bliss automatically	assesses any new albums to make sure they have cover art, finding and installing any missing art, and 
			letting you know if it cannot. bliss works in the background, unobtrusively watching your music collection. bliss has a Web based
			user interface, which means it is accessible from anywhere on your network, or even across the world.
			</p>
			
			<p style="line-height:1.3em;font-size:20px">
			<i>And it's not just artwork</i>. bliss also <a href="http://{% include site-domain.html %}/organise-music-files.html">organizes music files</a> and 
			<a href="http://{% include blog-url.html %}2010/11/28/mp3-tagging-software-new-release-20101120/">fills in missing tags</a>. 
			<a href="http://{% include blog-url.html %}2011/03/09/a-blissful-approach-to-automatic-genre-categorisation/">Genre categorisation rules allow
			you to take control of your MP3 genres</a>!
			</p>
		</div>
	</div>

	<div class="callToAction">
		<a href="http://{% include site-domain.html %}/{% include download-page.html %}">Download the trial</a> or 
		<a href="http://{% include blog-url.html %}">read the blog</a>
	</div>

</div>
