	<div id="reasons">
		<div class="reason lightblue float_left">
			<h3>Effortless, accurate</h3>
			<p>bliss runs in the background, so it watches for new music and then <strong>downloads 
			your album artwork automatically</strong>. Install it on your laptop, desktop or even a home server and and watch it work via your browser.</p>
		</div>
	
		<div class="reason lightblue float_left">
			<h3>Discover rare art</h3>
			<p>bliss can find album artwork from all over the Internet. It's great for finding art for rare recordings,
			such as cover mounted CDs, bootlegs and live recordings.</p>
		</div>

		<div class="reason lightblue float_left">
			<h3>bliss is for...</h3>
			<ul style="padding-left:15px">
				<li>Those who like their music <i>just so</i></li>
				<li>Those with <strong>large music collections</strong></li>
				<li>Those with <strong>home servers</strong></li>
				<li>Managing Squeezebox and iTunes album art</li>
			</ul>
		</div>
	</div>
