<p>
If you leave your email address here, Dan will get in touch in a few days to find out how you got on, and see if he can help anymore.
</p>
<!-- Begin MailChimp Signup Form -->
<link href="http://cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
	#mc_embed_signup form { padding-left:0px; }
	#mc_embed_signup ul { list-style-type:none; padding-left:0px; }
	#mc_embed_signup label {display:inline-block;}
	#mc_embed_signup li.request-followup { display:none; }
	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="http://blisshq.us1.list-manage.com/subscribe/post?u=4f1853aee6721881e2946f935&amp;id=1ab7e5755c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
	<div class="mc-field-group input-group">
    	<ul>
    		<li><input type="checkbox" value="1" name="group[3477][1]" id="mce-group[3477]-3477-0"><label for="mce-group[3477]-3477-0">Also receive once-a-month updates from the Music Library Management blog.</label> <small>We don't spam people!</small></li>
    		<li class="request-followup"><input type="checkbox" value="2" name="group[3481][2]" id="mce-group[3481]-3481-0" checked="checked"><label for="mce-group[3481]-3481-0">Request follow up</label></li>
		</ul>
	</div>
	<div class="clear"><input type="submit" value="Keep-in-touch!" name="subscribe" id="mc-embedded-subscribe" class="button" onclick="var _this = this; _gaq.push(['_trackEvent', 'Mailing list', 'Subscribe to blog list', window.location.pathname]); setTimeout(function() {_this.parentNode.parentNode.submit()}, 150);return false;"></div>
</form>
</div>

<!--End mc_embed_signup-->