<div class="container">
	<p>Your download will begin in a few seconds. While your ebook downloads, <b>sign up to our mailing list</b>!
	You'll receive new tips and strategies for managing your music collection, one email per month.</p>

	<div style="margin:20px;margin-bottom:20px;margin-left:60px;margin-right:60px;">
	{% include mailing-list-signup-ebook.html %}
	</div>
</div>

<div class="container" style="margin-top:30px">
	<p>And... <b>tell your friends about the ebook</b>!
	<div style="text-align:center;margin:auto;">
		<span class='st_facebook_large' displayText='Facebook' st_url="http://{% include site-domain.html %}/music-library-management-ebook.html"></span>
		<span class='st_twitter_large' displayText='Tweet' st_title="I just downloaded the Music Library Management ebook from @bliss_music" st_url="http://{% include site-domain.html %}/music-library-management-ebook.html"></span>
		<span class='st_googleplus_large' displayText='Google +' st_url="http://{% include site-domain.html %}/music-library-management-ebook.html"></span>
		<span class='st_linkedin_large' displayText='LinkedIn' st_url="http://{% include site-domain.html %}/music-library-management-ebook.html"></span>
		<span class='st_email_large' displayText='Email' st_url="http://{% include site-domain.html %}/music-library-management-ebook.html"></span>
	</div>
</div>
