<ul style="list-style-type:none">
<li><a href="http://{% include blog-url.html %}2012/09/17/mlm-ebook-procuring/">1 - Procuring</a></li>
<li><a href="http://{% include blog-url.html %}2012/10/02/mlm-ebook-storing/">2 - Storing</a></li>
<li>3 - Organising
	<ul>
		<li><a href="http://{% include blog-url.html %}2012/11/06/mlm-ebook-organising-files-folders/">3-1 - Files and folders</a></li>
		<li><a href="http://{% include blog-url.html %}2012/12/11/mlm-ebook-organising-tags/">3-2 - Tags</a></li>
		<li><a href="http://{% include blog-url.html %}2013/01/03/mlm-ebook-organising-album-artwork/">3-3 - Album artwork</a></li>
	</ul>
</li>
<li><a href="http://{% include blog-url.html %}2013/01/15/mlm-ebook-securing/">4 - Securing</a></li>
</ul>