<!-- Begin MailChimp Signup Form -->
<style type="text/css">

	/* Copied from CSS so we can adapt the div ID */
	#mc_embed_signup_ebook form {display:block; position:relative; text-align:left; padding:10px 0 10px 3%}
	#mc_embed_signup_ebook h2 {font-weight:bold; padding:0; margin:15px 0; font-size:1.4em;}
	#mc_embed_signup_ebook input {border:1px solid #999; -webkit-appearance:none;}
	#mc_embed_signup_ebook input[type=checkbox]{-webkit-appearance:checkbox;}
	#mc_embed_signup_ebook input[type=radio]{-webkit-appearance:radio;}
	#mc_embed_signup_ebook input:focus {border-color:#333;}
	#mc_embed_signup_ebook .button {clear:both; background-color: #aaa; border: 0 none; border-radius:4px; color: #FFFFFF; cursor: pointer; display: inline-block; font-size:15px; font-weight: bold; height: 32px; line-height: 32px; margin: 0 5px 10px 0; padding: 0 22px; text-align: center; text-decoration: none; vertical-align: top; white-space: nowrap; width: auto;}
	#mc_embed_signup_ebook .button:hover {background-color:#777;}
	#mc_embed_signup_ebook .small-meta {font-size: 11px;}
	#mc_embed_signup_ebook .nowrap {white-space:nowrap;}
	
	#mc_embed_signup_ebook .mc-field-group {clear:left; position:relative; width:96%; padding-bottom:3%; min-height:50px;}
	#mc_embed_signup_ebook .size1of2 {clear:none; float:left; display:inline-block; width:46%; margin-right:4%;}
	* html #mc_embed_signup_ebook .size1of2 {margin-right:2%; /* Fix for IE6 double margins. */}
	#mc_embed_signup_ebook .mc-field-group label {display:block; margin-bottom:3px;}
	#mc_embed_signup_ebook .mc-field-group input {display:block; width:100%; padding:8px 0; text-indent:2%;}
	#mc_embed_signup_ebook .mc-field-group select {display:inline-block; width:99%; padding:5px 0; margin-bottom:2px;}
	
	#mc_embed_signup_ebook .datefield, #mc_embed_signup_ebook .phonefield-us{padding:5px 0;}
	#mc_embed_signup_ebook .datefield input, #mc_embed_signup_ebook .phonefield-us input{display:inline; width:60px; margin:0 2px; letter-spacing:1px; text-align:center; padding:5px 0 2px 0;}
	#mc_embed_signup_ebook .phonefield-us .phonearea input, #mc_embed_signup_ebook .phonefield-us .phonedetail1 input{width:40px;}
	#mc_embed_signup_ebook .datefield .monthfield input, #mc_embed_signup_ebook .datefield .dayfield input{width:30px;}
	#mc_embed_signup_ebook .datefield label, #mc_embed_signup_ebook .phonefield-us label{display:none;}
	
	#mc_embed_signup_ebook .indicates-required {text-align:right; font-size:11px; margin-right:4%;}
	#mc_embed_signup_ebook .asterisk {color:#c60; font-size:200%;}
	#mc_embed_signup_ebook .mc-field-group .asterisk {position:absolute; top:25px; right:10px;}        
	#mc_embed_signup_ebook .clear {clear:both;}
	
	#mc_embed_signup_ebook .mc-field-group.input-group ul {margin:0; padding:5px 0; list-style:none;}
	#mc_embed_signup_ebook .mc-field-group.input-group ul li {display:block; padding:3px 0; margin:0;}
	#mc_embed_signup_ebook .mc-field-group.input-group label {display:inline;}
	#mc_embed_signup_ebook .mc-field-group.input-group input {display:inline; width:auto; border:none;}
	
	#mc_embed_signup_ebook div#mce-responses {float:left; top:-1.4em; padding:0em .5em 0em .5em; overflow:hidden; width:90%;margin: 0 5%; clear: both;}
	#mc_embed_signup_ebook div.response {margin:1em 0; padding:1em .5em .5em 0; font-weight:bold; float:left; top:-1.5em; z-index:1; width:80%;}
	#mc_embed_signup_ebook #mce-error-response {display:none;}
	#mc_embed_signup_ebook #mce-success-response {color:#529214; display:none;}
	#mc_embed_signup_ebook label.error {display:block; float:none; width:auto; margin-left:1.05em; text-align:left; padding:.5em 0;}
	
	#mc-embedded-subscribe {clear:both; width:auto; display:block; margin:1em 0 1em 5%;}
	#mc_embed_signup_ebook #num-subscribers {font-size:1.1em;}
	#mc_embed_signup_ebook #num-subscribers span {padding:.5em; border:1px solid #ccc; margin-right:.5em; font-weight:bold;}

	/* My own customisations */
	#mc_embed_signup_ebook{background:#FFEDB6; clear:left; font:14px Helvetica,Arial,sans-serif; border:1px solid #999; border-radius:6px;}
	#mc_embed_signup_ebook .button{background-color:#4141FF}
	#mc_embed_signup_ebook .button:hover{background-color:#080879}
	#mc_embed_signup_ebook .mc-field-group {padding-bottom:1%;}
	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup_ebook">
<form action="http://blisshq.us4.list-manage.com/subscribe/post?u=862914b47df37e7c1cb175743&amp;id=6658392ba4" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
  <div class="mc-field-group">
  <h4>Interested in music library management?</h4>
  <p>Acquiring, storing, organising and securing computer audio. It's all in the <a href="http://{% include site-domain.html %}/music-library-management-ebook.html">
  Music Library Management ebook</a>, downloadable via email.</p>
  </div>
  
<div class="mc-field-group" style="min-height:initial">
	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Email Address">
</div>
<div class="mc-field-group input-group">
    <ul><li><input type="checkbox" value="1" name="group[15189][1]" id="mce-group[15189]-15189-0"><label for="mce-group[15189]-15189-0">I'd also like a free, one month, opt-out-any-time email course on investing in my music collection</label></li>
</ul>
</div>
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>	<div class="clear"><input type="submit" value="Get your free ebook now!" name="subscribe" id="mc-embedded-subscribe" class="button" onclick="var _this = this; _gaq.push(['_trackEvent', 'Ebook', 'Submitted email address']); setTimeout(function() {_this.parentNode.parentNode.submit()}, 150);return false;"></div>
</form>
</div>
<script type="text/javascript">
var fnames = new Array();var ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';
try {
    var jqueryLoaded=jQuery;
    jqueryLoaded=true;
} catch(err) {
    var jqueryLoaded=false;
}
var head= document.getElementsByTagName('head')[0];
if (!jqueryLoaded) {
    var script = document.createElement('script');
    script.type = 'text/javascript';
    script.src = 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js';
    head.appendChild(script);
    if (script.readyState && script.onload!==null){
        script.onreadystatechange= function () {
              if (this.readyState == 'complete') mce_preload_check();
        }    
    }
}
var script = document.createElement('script');
script.type = 'text/javascript';
script.src = 'http://downloads.mailchimp.com/js/jquery.form-n-validate.js';
head.appendChild(script);
var err_style = '';
try{
    err_style = mc_custom_error_style;
} catch(e){
    err_style = '#mc_embed_signup_ebook input.mce_inline_error{border-color:#6B0505;} #mc_embed_signup_ebook div.mce_inline_error{margin: 0 0 1em 0; padding: 5px 10px; background-color:#6B0505; font-weight: bold; z-index: 1; color:#fff;}';
}
var head= document.getElementsByTagName('head')[0];
var style= document.createElement('style');
style.type= 'text/css';
if (style.styleSheet) {
  style.styleSheet.cssText = err_style;
} else {
  style.appendChild(document.createTextNode(err_style));
}
head.appendChild(style);
setTimeout('mce_preload_check();', 250);

var mce_preload_checks = 0;
function mce_preload_check(){
    if (mce_preload_checks>40) return;
    mce_preload_checks++;
    try {
        var jqueryLoaded=jQuery;
    } catch(err) {
        setTimeout('mce_preload_check();', 250);
        return;
    }
    try {
        var validatorLoaded=jQuery("#fake-form").validate({});
    } catch(err) {
        setTimeout('mce_preload_check();', 250);
        return;
    }
    mce_init_form();
}
function mce_init_form(){
    jQuery(document).ready( function($) {
      var options = { errorClass: 'mce_inline_error', errorElement: 'div', onkeyup: function(){}, onfocusout:function(){}, onblur:function(){}  };
      var mce_validator = $("#mc-embedded-subscribe-form").validate(options);
      $("#mc-embedded-subscribe-form").unbind('submit');//remove the validator so we can get into beforeSubmit on the ajaxform, which then calls the validator
      options = { url: 'http://blisshq.us4.list-manage.com/subscribe/post-json?u=862914b47df37e7c1cb175743&id=6658392ba4&c=?', type: 'GET', dataType: 'json', contentType: "application/json; charset=utf-8",
                    beforeSubmit: function(){
                        $('#mce_tmp_error_msg').remove();
                        $('.datefield','#mc_embed_signup_ebook').each(
                            function(){
                                var txt = 'filled';
                                var fields = new Array();
                                var i = 0;
                                $(':text', this).each(
                                    function(){
                                        fields[i] = this;
                                        i++;
                                    });
                                $(':hidden', this).each(
                                    function(){
                                        var bday = false;
                                        if (fields.length == 2){
                                            bday = true;
                                            fields[2] = {'value':1970};//trick birthdays into having years
                                        }
                                    	if ( fields[0].value=='MM' && fields[1].value=='DD' && (fields[2].value=='YYYY' || (bday && fields[2].value==1970) ) ){
                                    		this.value = '';
									    } else if ( fields[0].value=='' && fields[1].value=='' && (fields[2].value=='' || (bday && fields[2].value==1970) ) ){
                                    		this.value = '';
									    } else {
									        if (/\[day\]/.test(fields[0].name)){
    	                                        this.value = fields[1].value+'/'+fields[0].value+'/'+fields[2].value;									        
									        } else {
    	                                        this.value = fields[0].value+'/'+fields[1].value+'/'+fields[2].value;
	                                        }
	                                    }
                                    });
                            });
                        return mce_validator.form();
                    }, 
                    success: mce_success_cb
                };
      $('#mc-embedded-subscribe-form').ajaxForm(options);
      
      
    });
}
function mce_success_cb(resp){
    $('#mce-success-response').hide();
    $('#mce-error-response').hide();
    if (resp.result=="success"){
        $('#mce-'+resp.result+'-response').show();
        $('#mce-'+resp.result+'-response').html(resp.msg);
        $('#mc-embedded-subscribe-form').each(function(){
            this.reset();
    	});
    } else {
        var index = -1;
        var msg;
        try {
            var parts = resp.msg.split(' - ',2);
            if (parts[1]==undefined){
                msg = resp.msg;
            } else {
                i = parseInt(parts[0]);
                if (i.toString() == parts[0]){
                    index = parts[0];
                    msg = parts[1];
                } else {
                    index = -1;
                    msg = resp.msg;
                }
            }
        } catch(e){
            index = -1;
            msg = resp.msg;
        }
        try{
            if (index== -1){
                $('#mce-'+resp.result+'-response').show();
                $('#mce-'+resp.result+'-response').html(msg);            
            } else {
                err_id = 'mce_tmp_error_msg';
                html = '<div id="'+err_id+'" style="'+err_style+'"> '+msg+'</div>';
                
                var input_id = '#mc_embed_signup_ebook';
                var f = $(input_id);
                if (ftypes[index]=='address'){
                    input_id = '#mce-'+fnames[index]+'-addr1';
                    f = $(input_id).parent().parent().get(0);
                } else if (ftypes[index]=='date'){
                    input_id = '#mce-'+fnames[index]+'-month';
                    f = $(input_id).parent().parent().get(0);
                } else {
                    input_id = '#mce-'+fnames[index];
                    f = $().parent(input_id).get(0);
                }
                if (f){
                    $(f).append(html);
                    $(input_id).focus();
                } else {
                    $('#mce-'+resp.result+'-response').show();
                    $('#mce-'+resp.result+'-response').html(msg);
                }
            }
        } catch(e){
            $('#mce-'+resp.result+'-response').show();
            $('#mce-'+resp.result+'-response').html(msg);
        }
    }
}

</script>
<!--End mc_embed_signup_ebook-->
