<div class="download-button-holder">
			<style type="text/css">
			.pitch-left-text div.download-button-holder {
				position:relative;
			}
			
			.pitch-left-text .download-buttons .downloadButton {
				width:325px;
			}
			
			.pitch-left-text a.download-link {
				height:170px; 
				background:url('/images/button_download_tall.png') no-repeat left top
			}
			
			.pitch-left-text a.download-link .platform-description {
				padding-top:15px;
			}
			
			.pitch-left-text a.download-link .platform-description strong {
				font-size:42px;
			}
			
			.pitch-left-text a.download-link .platform-icon {
				padding-top:0px;
			}
			
			.pitch-left-text a.download-link .platform-icon * {
				vertical-align:middle;
				margin-right:20px;
			}
			
			</style>
			
			<center>
			<script type="text/javascript">
/**
 * A javascript file used to detect the current browser's platform.  Offers a couple
 * of utility functions for modifying the mozilla.com pages to offer the best
 * downloads for visitors.
 *
 */

/*
 * Do platform detection
 */
var PLATFORM_OTHER    = 0;
var PLATFORM_WINDOWS  = 1;
var PLATFORM_LINUX    = 2;
var PLATFORM_MACOSX   = 3;
var PLATFORM_MAC      = 4;

var gPlatform = PLATFORM_WINDOWS;

if (navigator.platform.indexOf("Win32") != -1 || navigator.platform.indexOf("Win64") != -1)
  gPlatform = PLATFORM_WINDOWS;
else if (navigator.platform.indexOf("Linux") != -1)
  gPlatform = PLATFORM_LINUX;
else if (navigator.userAgent.indexOf("Mac OS X") != -1)
  gPlatform = PLATFORM_MACOSX;
else if (navigator.userAgent.indexOf("MSIE 5.2") != -1)
  gPlatform = PLATFORM_MACOSX;
else if (navigator.platform.indexOf("Mac") != -1)
  gPlatform = PLATFORM_MAC;
else
  gPlatform = PLATFORM_OTHER;

function track(page) {
	var _gaq = _gaq || [];
	_gaq.push(['_setCustomVar',1,'downloaded-trial', 'yes', 1]);
	_gaq.push(['_trackPageview',page]);
}
</script>

<div class="download-buttons">
<ul class="download-list nobullets" id="download-list">
	<li class="os_windows">
		<div style="margin:0px;margin-top:20px;" class="downloadButton">
		<a class="download-link" href="/download-thank-you-windows.html" onclick="track('/downloads/setup.exe-{{ site.bliss-version }}');">
			<span class="platform-description">
				<strong>Download</strong><br>
			</span>
			<div class="platform-icon">
				<em title="Windows 10, 8, 7, Vista et al... and the server platforms">Windows 10, 8, 7 etc</em>
				<img alt="Download bliss for Windows" src="/images/48x48_Microsoft_windows.png">
			</div>
		</a>
		</div>
		<div class="download-other-platforms">
			<a href="/download.html">other operating systems</a> | <a target="_blank" href="http://{% include site-domain.html %}/support/faq/general/how-uninstall-bliss.html">uninstall</a> | <a target="_blank" href="/app/licence.html">Terms of Service</a>
		</div>
	</li>
	<li class="os_osx">
		<div style="margin:0px;margin-top:20px;" class="downloadButton">
		<a class="download-link" href="/download-thank-you-mac.html" onclick="track('/downloads/bliss.dmg-{{ site.bliss-version }}');">
			<span class="platform-description">
				<strong>Download</strong><br>
			</span>
			<div class="platform-icon">
				<em title="Mac OS X Snow Leopard and later">Mac OS X</em>
				<img alt="Download bliss for Snow Leopard" src="/images/48x48_mac.png">
			</div>
		</a>
		</div>
		<div class="download-other-platforms">
			<a href="/download.html">other operating systems</a> | <a target="_blank" href="http://{% include site-domain.html %}/support/faq/general/how-uninstall-bliss.html">uninstall</a> | <a target="_blank" href="/app/licence.html">Terms of Service</a>
		</div>
	</li>
	<li class="os_linux">
		<div style="margin:0px;margin-top:20px" class="downloadButton">
		<a class="download-link" href="/download-thank-you-linux.html" onclick="track('/downloads/bliss-install-{{ site.bliss-version }}.jar');">
			<span class="platform-description">
				<strong>Download</strong><br>
			</span>
			<div class="platform-icon" >
				<em title="Linux, executable JAR (requires Java 6 or later)">Linux, executable JAR</em>
				<img alt="Download bliss for Linux" src="/images/48x48_tux.png">
			</div>
		</a>
		</div>
		<div class="download-other-platforms">
			<a href="/download.html">other operating systems</a> | <a target="_blank" href="http://{% include site-domain.html %}/support/faq/general/how-uninstall-bliss.html">uninstall</a> | <a target="_blank" href="/app/licence.html">Terms of Service</a>
		</div>
	</li>
	<li class="os_unknown">
		<div style="margin:0px;margin-top:20px;" class="downloadButton">
		<a class="download-link" href="/download.html">
			<span class="platform-description">
				<strong>Download</strong><br>
				<em title="Windows, Linux and Vortexbox">Windows and Linux</em>
			</span>
		</a>
		</div>
	</li>
</ul>
</div>

<script type="text/javascript">
		
    switch (gPlatform) {

        case PLATFORM_WINDOWS:
        	document.getElementById("download-list").className += " os_windows";
            break;
        case PLATFORM_LINUX:
        	document.getElementById("download-list").className += " os_linux";
            break;
        case PLATFORM_MACOSX:
        	document.getElementById("download-list").className += " os_osx";
            break;
        default:
        	document.getElementById("download-list").className += " os_windows";
            break;
    }
		
</script></center>
</div>