<div class="scrollToTop circle"><i class="icon-up-open-big"></i></div>
<div class="page-wrapper">
  <div class="header-container">
      <div class="header-top dark ">
          <div class="container">
              <div class="row">
                  <div class="col-xs-3 col-sm-6 col-md-9">
                      <div class="header-top-first clearfix">
                          <ul class="social-links circle small clearfix hidden-xs">
                            {% include social-link.html %}
                          </ul>
                          <div class="social-links hidden-lg hidden-md hidden-sm circle small">
                              <div class="btn-group dropdown">
                                  <button type="button" class="btn dropdown-toggle" data-toggle="dropdown"><i class="fa fa-share-alt"></i></button>
                                  <ul class="dropdown-menu dropdown-animation">
                                    {% include social-link.html %}
                                  </ul>
                              </div>
                          </div>
                          <ul class="list-inline hidden-sm hidden-xs">
                              <li><i class="fa fa-map-marker pr-5 pl-10"></i>{% include address-mail.html %}</li>
                              <li><i class="fa fa-phone pr-5 pl-10"></i>{% include phone-bliss.html %}</li>
                              <li><i class="fa fa-envelope-o pr-5 pl-10"></i>{% include address-email.html %}</li>
                          </ul>
                      </div>
                  </div>
                  <div class="col-xs-9 col-sm-6 col-md-3">
                      <div id="header-top-second"  class="clearfix">
                          <div class="header-top-dropdown text-right">
                              <div class="btn-group">
                                  <a href="page-signup.html" class="btn btn-default btn-sm"><i class="fa fa-user pr-10"></i> Sign Up</a>
                              </div>
                              <div class="btn-group dropdown">
                                  <button type="button" class="btn dropdown-toggle btn-default btn-sm" data-toggle="dropdown"><i class="fa fa-lock pr-10"></i> Login</button>
                                  <ul class="dropdown-menu dropdown-menu-right dropdown-animation">
                                      <li>
                                          <form class="login-form margin-clear">
                                              <div class="form-group has-feedback">
                                                  <label class="control-label">Username</label>
                                                  <input type="text" class="form-control" placeholder="">
                                                  <i class="fa fa-user form-control-feedback"></i>
                                              </div>
                                              <div class="form-group has-feedback">
                                                  <label class="control-label">Password</label>
                                                  <input type="password" class="form-control" placeholder="">
                                                  <i class="fa fa-lock form-control-feedback"></i>
                                              </div>
                                              <button type="submit" class="btn btn-gray btn-sm">Log In</button>
                                              <span class="pl-5 pr-5">or</span>
                                              <button type="submit" class="btn btn-default btn-sm">Sing Up</button>
                                              <ul>
                                                  <li><a href="#">Forgot your password?</a></li>
                                              </ul>
                                              <span class="text-center">Login with</span>
                                              <ul class="social-links circle small colored clearfix">
                                                  {% include social-link.html %}
                                              </ul>
                                          </form>
                                      </li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <header class="header  fixed    clearfix">
          <div class="container">
              <div class="row">
                  <div class="col-md-3 ">
                      <div class="header-left clearfix">
                          <div class="header-dropdown-buttons visible-xs">
                          </div>
                      </div>
                  </div>
                  <div class="col-md-12">
                      <div class="header-right clearfix">
                          <div class="main-navigation  animated with-dropdown-buttons">
                              <nav class="navbar navbar-default" role="navigation">
                                  <div class="container-fluid">
                                      <div class="navbar-header">
                                          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                                              <span class="sr-only">Toggle navigation</span>
                                              <span class="icon-bar"></span>
                                              <span class="icon-bar"></span>
                                              <span class="icon-bar"></span>
                                          </button>
                                          <a class="logo_bliss" href="index.html"><img id="logo_img" src="/images/logo.png"></a>
                                      </div>
                                      <div class="collapse navbar-collapse" id="navbar-collapse-1">
                                          <ul class="nav navbar-nav ">
                                              <li>
                                                  <a href="#">Tour</a>
                                              </li>
                                              <li>
                                                  <a href="#">Download</a>
                                              </li>
                                              <li>
                                                  <a href="#">Help</a>
                                              </li>
                                              <li>
                                                  <a href="#">Buy Fixes</a>
                                              </li>
                                              <li>
                                                  <a href="#">Blog</a>
                                              </li>
                                              <li>
                                                  <a href="#">Contact</a>
                                              </li>
                                          </ul>
                                      </div>
                                  </div>
                              </nav>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </header>
  </div>
</div>

