<footer id="footer" class="clearfix ">
    <div class="footer">
        <div class="container">
            <div class="footer-inner">
                <div class="row">
                    <div class="col-md-3">
                        <div class="footer-content">
                            <h2 class="title">Projects</h2>
                            <div class="separator-2"></div>
                                    <a href="http://{% include site-domain.html %}/album-art-finder.html">Album art finder</a>
                                <hr>
                                    <a href="http://{% include site-domain.html %}/organise-music-files.html">Organise music files</a>
                                <hr>
                                    <a href="http://{% include site-domain.html %}/mp3-tag-editor.html">MP3 tag editor</a>
                                <hr>
                                    <a href="http://{% include site-domain.html %}/auto-tag-mp3.html">Auto tag MP3s</a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="footer-content">
                            <h2 class="title">Bliss</h2>
                            <div class="separator-2"></div>
                                    <a href="#">Tour</a>
                                <hr>
                                    <a href="/{% include download-page.html %}">Download</a>
                                <hr>
                                    <a href="#">Buy fixes</a>
                                <hr>
                        </div>
                    </div>
                    <div class="col-md-3">
                       <div class="footer-content">
                            <h2 class="title">Support</h2>
                            <div class="separator-2"></div>
                                    <a href="http://{% include site-domain.html %}/support/tutorials/">Tutorials</a>
                                <hr>
                                    <a href="http://{% include site-domain.html %}/support/faq/">FAQ</a>
                                <hr>
                                    <a href="http://{% include site-domain.html %}/contact.html">Contact</a>
                                <hr>
                                    <a href="http://{% include site-domain.html %}/site-map.html">Site map</a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="footer-content">
                            <h2 class="title">Community</h2>
                            <div class="separator-2"></div>
                                    <a href="http://{% include ideas-domain.html %}">Ideas</a>
                                <hr>
                                    <a href="http://{% include blog-url.html %}">Blog</a>
                                <hr>
                                    <a href="http://{% include site-domain.html %}/music-library-management-ebook.html">Music library management ebook</a>
                                <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="subfooter">
        <div class="container">
            <div class="subfooter-inner">
                <div class="row">
                    <div class="col-md-12">
                        <p class="text-center">Copyright © 2016  <a target="_blank" href="">Bliss</a>. All Rights Reserved</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
