<div id="page-footer">
	<div style="margin-top:20px; padding-top:5px; border-top: 1px solid #DDDDDD">
	© {{ site.time | date: '%Y' }} <a href="http://www.elstensoftware.com">elsten software limited</a>, {% include address-mail.html %} | <a href="/terms-and-conditions.html">terms and conditions</a>  | <a href="/privacy-policy.html">privacy policy</a>
	</div>
</div>