<script type="text/javascript">
	var switchTo5x=false;
</script>
<script type="text/javascript">
 // Add a script element as a child of the body
 function downloadShareThisJSAtOnload() {
 var element = document.createElement("script");
 element.src = "/js/deferredShareThis.js";
 document.body.appendChild(element);
 }

 // Check for browser support of event handling capability
 if (window.addEventListener)
 window.addEventListener("load", downloadShareThisJSAtOnload, false);
 else if (window.attachEvent)
 window.attachEvent("onload", downloadShareThisJSAtOnload);
 else window.onload = downloadShareThisJSAtOnload;
</script>
