<li class="twitter"><a target="_blank" href="https://twitter.com/bliss_music"><i class="fa fa-twitter"></i></a></li>
<li class="googleplus"><a target="_blank" href="https://plus.google.com/+Blisshq/posts"><i class="fa fa-google-plus"></i></a></li>
<li class="facebook"><a target="_blank" href="https://www.facebook.com/blissapp"><i class="fa fa-facebook"></i></a></li>
