<div class="container">
	<p>Your download will begin in a few seconds. While your ebook downloads, <b>tell your friends about the ebook</b>!

	<div style="text-align:center;margin:auto;">
		<span class='st_facebook_large' displayText='Facebook' st_url="http://{% include site-domain.html %}/music-library-management-ebook.html"></span>
		<span class='st_twitter_large' displayText='Tweet' st_title="I just downloaded the Music Library Management ebook from @bliss_music" st_url="http://{% include site-domain.html %}/music-library-management-ebook.html"></span>
		<span class='st_googleplus_large' displayText='Google +' st_url="http://{% include site-domain.html %}/music-library-management-ebook.html"></span>
		<span class='st_linkedin_large' displayText='LinkedIn' st_url="http://{% include site-domain.html %}/music-library-management-ebook.html"></span>
		<span class='st_email_large' displayText='Email' st_url="http://{% include site-domain.html %}/music-library-management-ebook.html"></span>
	</div>
</div>
