<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
{% if page.optimiser-script %}
 <script>
 _udn = "none";
 </script>
{{ page.optimiser-script }}
{% endif %}
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="keywords" content="{{ page.keywords }}">
<meta name="description" content="{{ page.description | xml_escape }}">
<meta http-equiv="content-language" content="en">
<link href="/styles.css" rel="stylesheet" type="text/css">
{{ page.inHead }}
{{ page.inHead2 }}
{% if page.canonicalRef %}
<link rel="canonical" href="http://{% include site-domain.html %}{{ page.canonicalRef }}">
{% endif %}
{% if page.canonicalParentIndexRef %}
	<link rel="canonical" href="http://{% include site-domain.html %}/{{ page.url | replace:'index.html',''}}">
	<script>
	if (window.location.href.indexOf('index.html') != -1)
	    window.location.href = './';
	</script>
{% endif %}
{% if page.download %}
<META http-equiv="refresh" content="5;URL={{ page.download }}?{{ site.bliss-version }}&filename={{ page.download }}">
{% endif %}
{% if page.noindex %}
<meta name="robots" content="noindex" />
{% endif %}
{% if page.blog %}
{% include google_ajax_search.html %}
{% endif %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="http://feeds.feedburner.com/MusicLibraryManagement" />
<title>{{ page.title }} - bliss</title>
<script type="text/javascript">

function optOut() {
	writeCookie('cookieoptout', 'true', 3650);
	dismissOptOut();
}

function dismissOptOut() {
	writeCookie('showoptout', 'false', 3650);
	document.getElementById("cookie-opt-out").style.display = "none";
}

function writeCookie(name,value,days) {
	if (days) {
		var date = new Date();
		date.setTime(date.getTime()+(days*24*60*60*1000));
		var expires = "; expires="+date.toGMTString();
	}
	else var expires = "";
	document.cookie = name+"="+value+expires+"; path=/";
}

function readCookie(name) {
	var nameEQ = name + "=";
	var ca = document.cookie.split(';');
	for(var i=0;i < ca.length;i++) {
		var c = ca[i];
		while (c.charAt(0)==' ') c = c.substring(1,c.length);
		if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
	}
	return null;
}

function hasOptedOut() {
	var cookie = readCookie('cookieoptout');
	return !(cookie === null) && cookie === 'true';
}

function hasDismissedOptOut() {
	var cookie = readCookie('showoptout');
	return !(cookie === null) || cookie === 'false';
}

if( hasOptedOut() ){
     window['ga-disable-UA-9527923-1'] = true;
}

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-9527923-1']);
  _gaq.push(['_setDomainName', 'none']);
  _gaq.push(['_setAllowLinker', true]);
  _gaq.push(['_setSiteSpeedSampleRate', 5]);
  // see http://www.prusak.com/google-analytics-referrer-override/
  if (typeof realreferrer != 'undefined' && realreferrer.length > 0) {
    _gaq.push(['_setReferrerOverride',realreferrer]);
  }
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<script type="text/javascript">

 // Add a script element as a child of the body
 function downloadJSAtOnload() {
 var element = document.createElement("script");
 element.src = "/js/deferredfunctions.js";
 document.body.appendChild(element);
 }

 // Check for browser support of event handling capability
 if (window.addEventListener)
 window.addEventListener("load", downloadJSAtOnload, false);
 else if (window.attachEvent)
 window.attachEvent("onload", downloadJSAtOnload);
 else window.onload = downloadJSAtOnload;

</script>
</head>
<body>

{% include cookie-opt-out.html %}

{% include page-header.html %}

{{ content }}

<div style="clear:both"></div>

{% include page-footer.html %}

{% if page.retargeting %}
<script type="text/javascript">
  (function() {
    window._pa = window._pa || {};
    // _pa.orderId = "myOrderId"; // OPTIONAL: attach unique conversion identifier to conversions
    // _pa.revenue = "19.99"; // OPTIONAL: attach dynamic purchase values to conversions
    // _pa.productId = "myProductId"; // OPTIONAL: Include product ID for use with dynamic ads
    var pa = document.createElement('script'); pa.type = 'text/javascript'; pa.async = true;
    pa.src = ('https:' == document.location.protocol ? 'https:' : 'http:') + "//tag.marinsm.com/serve/55685e445a20fcfc79000048.js";
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(pa, s);
  })();
</script>
{% endif %}

</body>
</html>
