---
layout: text-content
featurePage: yes
inHead: 
---

<p>
Hi! You're viewing an old feature page for bliss which may have outdated features and old screenshots. 
I've written a <a href="http://{% include site-domain.html %}/tour/">tour of bliss</a> with more up to
date features and screenshots. Please read that instead!
</p>

<p>
But if you <i>must</i> read on... go on, I'm not going to do anything horrible like <b>automatically redirect</b>
you to the new pages. Honest... 
</p>

{{ content }}
	