---
layout: faq
---


<span class="breadcrumb">
<a href="http://{% include site-domain.html %}/support/faq/">faq</a> :
<a href="http://{% include site-domain.html %}/support/faq/general/">general</a> 
</span>
</div>

<div class="beta_instructions">

<h1>{{ page.faq-title }}</h1>

{{ content }}

