---
layout: bliss
---
<div style="position:fixed;top:5px;right:5px;">
	<g:plusone count="false"></g:plusone>
</div>
<div id="central_container">

	{{ content }}
	
	<div class="callToAction">
		<a href="http://{% include site-domain.html %}/tour/">Read about the features</a> or 
		<a href="http://{% include site-domain.html %}/{% include download-page.html %}">download the bliss trial</a>  
	</div>

</div>