<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
{{ page.optimiser-script }}
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="keywords" content="{{ page.keywords }}">
<meta name="description" content="{{ page.description }}">
<meta http-equiv="content-language" content="en">
{% if page.download %}
<META http-equiv="refresh" content="1;URL={{ page.download }}">
{% endif %}
{% if page.noindex %}
<meta name="robots" content="noindex" />
{% endif %}
{% if page.blog %}
{% include google_ajax_search.html %}
{% endif %}
<title>{{ page.title }}</title>
<link href="/styles.css" rel="stylesheet" type="text/css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-9527923-1']);
  _gaq.push(['_setDomainName', 'none']);
  _gaq.push(['_setAllowLinker', true]);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>
<div class="header">
	<center>
	<div id="logo" style="padding-bottom:0px">
		<a href="/"><img alt="bliss for automatic mp3 album art" src="/images/logo-small.png"></a>
		<p style="font-size:12px">The automatic music library organizer</p>
	</div>
	</center>
	<div class="header_rule"></div>
</div>

{{ content }}

<div style="clear:both"/>

</body>
</html>