---
layout: blog
---

<h2>Posts for '{{ page.tag }}'</h2>
<ul class="nobullets">
	{% for post in site.tags[page.tag] %}
		<li class="nobullets" style="margin-bottom:5px"><a href='/{{ post.url }}'>{{ post.title }}</a></li>
    {% endfor %}
</ul>
