---
layout: bliss
---
<div class="beta_instructions">

{{ content }}

	<div class="callToAction">
		<a href="http://{% include site-domain.html %}/{% include download-page.html %}">Download the trial</a> or 
		<a href="http://{% include blog-url.html %}">read the blog</a>
	</div>
</div>
	