---
layout: bliss
featurePage: yes
---

<div class="container">

	<div class="tour-toc">
		<ul>
			<li {% if page.title == 'feature tour' %}class="selected"{% else %} {% endif %}>
				<a href="/tour/">
				Audit
				<br>
				<span>bliss audits your music collection, automatically</span>
				</a>
			</li>
			<li {% if page.title == 'cover art tour' %}class="selected"{% else %} {% endif %}>
				<a href="cover-art.html">
				Get album artwork 
				<br>
				<span>Find, embed, resize and change automatically</span>
				</a>
			</li>
			<li {% if page.title == 'music file organisation tour' %}class="selected"{% else %} {% endif %}>
				<a href="file-org.html">
				Organize music files 
				<br>
				<span>Rename music file and folders automatically</span>
				</a>
			</li>
			<li {% if page.title == 'genre consolidation tour' %}class="selected"{% else %} {% endif %}>
				<a href="genre-consolidation.html">
				Consolidate genres
				<br>
				<span>Convert unwieldy genre lists to navigable ones</span>
				</a>
			</li>
			<li {% if page.title == 'tagging tour' %}class="selected"{% else %} {% endif %}>
				<a href="tagging.html">
				Fix your tags
				<br>
				<span>Find missing tags and improve consistency</span>
				</a>
			</li>
			<li {% if page.title == 'auto tagging tour' %}class="selected"{% else %} {% endif %}>
				<a href="auto-tagging.html">
				Auto tagging
				<br>
				<span>Find information for untagged music files</span>
				</a>
			</li>
			<li {% if page.title == 'mp3 tag editor tour' %}class="selected"{% else %} {% endif %}>
				<a href="mp3-tag-editor.html">
				Tag editor
				<br>
				<span>Fine grained control of tags in a web-based tag editor</span>
				</a>
			</li>
		</ul>
	</div>
	
	<div class="tour-content">
	{{ content }}
	</div>

</div>